<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <a class="navbar-brand" href="#">Spoonmeter</a>

    <div class="d-flex flex-row order-2 order-lg-3">
        <form class="form-inline my-2 my-lg-0">
            {% include 'common/lang_bar.twig' %}
        </form>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="collapse navbar-collapse order-3 order-lg-2" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">{% trans %} converter {% endtrans %} <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">{% trans %} about {% endtrans %}</a>
            </li>
        </ul>
    </div>
</nav>