{% extends 'base.html.twig' %}

{% block title %}Spoonmeter - Converter{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-4">
            <form id="converter_form">
                <div class="form-group">
                    <label for="unit_from">Convert from</label>
                    {% include 'common/elements/unit_selector.twig' with {'name': 'unit_from', 'items': units} %}
                </div>
                <div class="form-group">
                    <label for="unit_to">Convert to</label>
                    {% include 'common/elements/unit_selector.twig' with {'name': 'unit_to', 'items': units} %}
                </div>
                <div class="form-group">
                    <label for="substance">Substance</label>
                    {% include 'common/elements/substance_selector.twig' with {'name': 'substance', 'items': substances} %}
                </div>
                <div class="form-group">
                    <label for="amount">Amount</label>
                    <input type="text" class="form-control" id="amount" placeholder="Enter desired amount of the substance">
                </div>
                <button type="submit" id="submit" class="btn btn-primary">Calculate</button>
            </form>
        </div>

        <div class="jumbotron">
            <h1 class="display-4" id="result">0.00</h1>
            <p class="lead">Your result</p>
        </div>

    </div>
{% endblock %}
